*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand:hover{
    color: black;

}
.nav-link{
    color: black;
    margin-right: 10px;
    margin-left: 10px;
 text-transform: uppercase;
 font-family:'Rubik', sans-serif;
}
.nav-link:hover{
    color: black;

}
.search{
    width: 100%;
    height: 40px;
    border: 2px solid rgb(172, 175, 178);
    border-radius: 10px;
    outline: none;
    margin-right: -35px;

}
.btn{
    width: 30%;
    height: 40px;
    outline: none;
    border: none;
    background-color:rgb(172, 175, 178);
    font-weight: 700;
    border-radius: 10px;
}
.main{
    background:url(images/women.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
}
img.card{
    width: 4%;
    font-size: 1rem;
    margin-right: 15px;
    margin-left: 10px;
}
.card-img{
    width: 100%;
    display: block;
    background-color: rgb(177, 159, 138);
}











