h1.title{
    border-bottom: double rgb(49, 49, 83);
    text-align: center;
    padding-bottom: 1em;
    color: rgb(0, 0, 70);
}
section.container{
    display: inline-block;
    width: 100%;
}
div.imgleft, div.imgmiddle, div.imgright{
    position: relative;
    width: 30%;
    margin: 1%;
    float: left;
}
.containerimg1, .containerimg2, .containerimg3{
    width: 100%;
}
div.imgleft{
    filter: invert(30%);
}
div.imgmiddle{
    filter: blur(1px);
}
div.imgright{
    filter: sepia(50%);
}
p.intro{
    position: absolute;
    top: 65%;
    bottom: 0%;
    right: 10%;
    left: 10%;
    background-color: rgba(252, 252, 252, 0.6);
    font-size: 1em;
    text-align: center;
    padding: 2.5em;
    box-shadow: 5px 5px 5px rgb(165, 110, 110);

}

    p.par1{
        position: absolute;
        top: 32%;
        bottom: 40%;
        right: 5%;
        left: 5%;
        background-color: rgba(136, 238, 136, 0.6);
        font-size: 1.7em;
        text-align: center;
        padding: 1em;
        box-shadow: 2px 2px 10px lightgreen;
    }

    a.link{
        display: block;
        font-size: 0.5em;
        background-color:  rgba(26, 64, 26, 0.6);
        width: 30%;
        margin: auto;
        padding: 0.2em;
        margin-top: 1em;
        border-radius: 12px;
        text-decoration: none;
        
    }

    a.link:hover{
        background-color: rgb(120, 227, 120, 0.6);
        color: black;
        box-shadow: 5px 5px 5px 5px white;}

        h2.containertitle, p.par2, p.par3, p.par4, p.par5{
            position: absolute;
            background-color: rgba(248, 250, 241, 0.6);
            font-size: 1em;
            text-align: center;
            
            box-shadow: 5px 5px 5px rgb(252, 252, 252);
        }
        
        h2.containertitle{
            text-align: center;
            top: 40%;
            left: 10%;
            right: 10%;
            font-size: 2.5em;
        }
        p.par2{
            top: 5%;
            left: 8%;
            font-size: 1.2em;
        }
        p.par3{
            bottom: 7%;
            right: 10%;
            font-size: 1.2em;
        }
        p.par4{
            top: 25%;
            right: 20%;
            font-size: 1em;
        }
        p.par5{
            top: 60%;
            left: 30%;
            font-size: 1em;
        }
        p.by{
            text-align: center;
        }
