

/* ----- Hotel ----- */

main.maincontainer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.card{
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    margin: 2em;
}
section.card:hover{
    transform: scale(1.05);
    transition: 300ms;
}
div.info{
    padding: 1em;
    height: auto;
    background-color: lightsteelblue;
    font-size: 2em;
    text-align: center;
}

div.link{
    position: relative;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
}
div.link:hover{
    background-color: white;
    color: black;
}
section.card a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
    height: auto;
}